@charset "UTF-8";


/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

:root {
   --fonte1:"Dancing Script", cursive; 
} */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /* min-height: 100vh; */
    
}

body {
    background: #c4c2c2 url(#) no-repeat;
    /* background-size: cover; */
    /* background-position: center center; */
}

header {
    background-color: beige ;
    border: 1px solid rgba(0, 0, 0, 0.212);
    /* width: 100%;
    min-height: 10px;
    padding-top: 0px;
    margin: auto;
    position: sticky;
    top: 0px; */
 }
header h1 {
   padding: 10px; 
   text-align: center; 
   font-family: var(--fonte1);
   font-size: 30px;
   color: rgb(243, 5, 5);
   margin-bottom: 0px;
   line-height: 20px;  
 }
 span#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
 }
 span#burger:hover {
    background-color: white;
    color: black;
 }

.bottom-header nav ul {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.bottom-header nav ul {
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.bottom-header nav ul li a {
    color: rgb(10, 10, 10);
    padding: 10px 10px;
    text-decoration: none;
    /* font-weight: 600; */
    display: block;
    /* transition: .2s; */
    text-align: center;
    /* border-top: 2px solid black; */
}

.bottom-header nav ul li a:hover {
    background-color: #ED6B86;
    color: #424147;
    box-shadow: inset 0 0 8px #0000008a;
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    position: absolute;
    background-color: #65636b;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .2s;

}

.drop-hover .drop a {
    padding: 20px;
}

.drop-hover:hover .drop {
    height: 150px;
}

main {
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 90vw;
    /* text-align: justify; */
    background-color: rgba(250, 239, 226, 0.651);
    border-radius: 10px;
    /* min-width:320px;
    max-width:1000px; */
    padding: 10px;
    margin: auto;
    margin-top: 10px;
 }

 /* header h2 {
    text-align: justify;
    padding: 10px;
    color: rgba(0, 0, 0, 0.788);
 } */


 .escrita{
   
   font-family: var(--fonte1);
   font-size: 1.5em;
 }
 img {
   width: 40%;
 }
 .fotoiara, .tcc,.fotos {
    text-align: center;
}

 h2 {
   color: rgba(0, 0, 0, 0.788);
   text-align: justify;
   font-family: var(--fonte1);
}

h3 {
   background-color: rgba(250, 239, 226, 0.651);
    color: rgba(43, 1, 32, 0.479);
    text-align: center;
    font-size: 20px;
}
 figure {
    text-align: center;
 }

 






 footer {
    background-color: rgba(250, 239, 226, 0.651);
    padding: 20px;
    text-align: justify;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom: 1px solid #ccc;
    /* position: sticky; */
    top: 0;
 }